<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.sashakhyzhun.wordsteacher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >




        <activity android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AndroidListViewActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ResultActivity">
        </activity>

        <activity android:name=".AboutActivity">
        </activity>

        <activity android:name=".TranslateActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity android:name=".LoginActivity">

        </activity>

        <activity android:name=".themes.Basic">
        </activity>

        <activity android:name=".themes.Basic2">
        </activity>

        <activity android:name=".themes.Phrases">
        </activity>

        <activity android:name=".themes.Eat">
        </activity>





    </application>

</manifest>
